<table class="block-table table-candidate" >
    <thead class="block-table-candidate-title">
    <tr>
        {% block head %}{% endblock %}
    </tr>
    </thead>
    <tbody class="block-table-candidate">
        {% block body %}{% endblock %}
    </tbody>
</table>
